* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P";
}

/* header */

header {
    height: 20vh;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: dimgray;
    color: black;
    border-bottom: 3px solid black;
    text-transform: uppercase;
}

/* modals */

.fadeWon {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 5;
}

.fadeLost {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 5;
}

.modalWon {
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: #2b2a2a;
    z-index: 10;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 250px;
    border-radius: 10px;
    display: none;
    justify-content: center;
    align-items: center;
}

.modalWonHeader {
    position: fixed;
    right: 2%;
    top: 2%;
}

.modalWonHeader .bi{
    font-size: 34px;
    cursor: pointer;
}

.modalLost {
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: #2b2a2a;
    z-index: 10;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 250px;
    border-radius: 10px;
    display: none;
    justify-content: center;
    align-items: center;
}

.modalLostHeader {
    position: fixed;
    right: 2%;
    top: 2%;
}

.modalLostHeader .bi{
    font-size: 34px;
    cursor: pointer;
}


/* main */

main {
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8));
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#btn {
    height: 50px;
    width: 150px;
    background-color: dimgray;
    text-transform: uppercase;
    border-radius: 10px;
    border: 3px solid #2b2a2a;
    cursor: pointer;
}

#btn:hover {
    background-color: #2b2a2a;
}

main .game {
    display: none;
    flex-direction: column;
    gap: 20px;
}

.choosenOption {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.divChoosenPlayer {
    display: flex;
    flex-direction: column;
}

.choosenPlayer {
    height: 150px;
    width: 150px;
    border-radius: 15px;
    color: #fff;
    font-size: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divChoosenComputer {
    display: flex;
    flex-direction: column;
}

.choosenComputer {
    height: 150px;
    width: 150px;
    border-radius: 15px;
    color: #fff;
    font-size: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chooseOption {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.rock {
    height: 150px;
    width: 150px;
    background-color: black;
    border-radius: 15px;
    color: #fff;
    font-size: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.paper {
    height: 150px;
    width: 150px;
    background-color: black;
    border-radius: 15px;
    color: #fff;
    font-size: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.scissors {
    height: 150px;
    width: 150px;
    background-color: black;
    border-radius: 15px;
    color: #fff;
    font-size: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}